.Details .content {
    display: flex;
}

.details-child {
    flex: 1;
}

@media only screen and (max-width: 550px) {
    .Details .content {
        flex-direction: column;
    }
}

body {
    background-color: grey;
}